.section_container {
    background-color: var(--grey);
    
    margin: 0 auto;
    overflow: hidden; 
}

.header_container {
    margin: 0 auto 0.5rem auto;
    
    background-repeat: no-repeat;
    background-size: 175%;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

#header_container_drinks {
    background-image: url(../images/menu_heading_coffee.jpg);
}

#header_container_snacks {
    background-image: url(../images/menu_heading_snacks.jpg);
}

hr {
    margin: 0.5rem auto;
    width: 75%; 
}

.row_container {
    min-height: 50px;
    width: 50%;
    margin: 0 auto 0.5rem auto; /*The bottom margin puts space between the product rows */
    overflow: hidden;
    position: relative;
}
@media (max-width: 768px) {
    .row_container{
        width: 70%;
    }
}
@media (max-width: 576px) {
    .row_container{
        width: 95%;
    }
}

.heading_row_container {
    margin: 0 auto;
}

h1.yellow_text {
    font-size: 30px;
    line-height: 50px;
    margin: 0;
}
@media (max-width: 576px) {
    h1.yellow_text{
        font-size: 30px;
    }
}

h1.yellow_text, h2.yellow_text, h3.yellow_text {
    color: var(--yellow);
}

h2.yellow_text, h3.yellow_text {
    margin: 0.5rem 0 0 0;
}

p.white_text {
    color: var(--white);
}

/* Over-riding bootstrap styling on collapse/expand */
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
}
div.panel-body.row_container{
    padding: 0;
}


#fairtrade_logo, #rainforest_logo {
    width: 40px; /* Used to centre the logo in the div. Done by eye...*/
}

#rainforest_logo {
    margin-top: 5px;
    width: 40px;
}

/* Positioning of the cup sizes and icons */
#cup_icon_div_6oz, #cup_icon_div_8oz {
    height: 50px;
    width: 23px;
    overflow: hidden;
    position: relative; /* Used with cup_size_text to position text at bottom of the div */
}

#cup_icon_div_6oz {
    right: 8px; /* Aligns the cup icon and text with the relative pricing column. Done by eye so not ideal */
}
#cup_icon_div_8oz {
    right: 2px; /* Aligns the cup icon and text with the relative pricing column. Done by eye so not ideal */
}

h4.cup_size_text { /* Used with cup_icon_div_#oz to position text at bottom of the div */
    margin: 2px 0 0 2px;
    position: absolute; 
    bottom: 0;
    font-size: 12px;
    color: var(--white);
}

#cup_icon_image_6oz {
   margin-top: 8px; /* Used to align cup icons along bottom. DOne by eye so not ideal */
}
#cup_icon_image_8oz {
   margin-top: 3px; /* Used to align cup icons along bottom. DOne by eye so not ideal */
}


.div-center { /* Aligns input beneath their respective prices */
    text-align: center;
}



h3.price {
    font-size: 12px;
    margin-bottom: 2px;
}



.product_name, .product_description {
    margin: 0;
}

.product_description {
    width: 80%;
    line-height: 1.25;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .product_description {
        width: 75%;
    }
}
@media (max-width: 576px) {
    .product_description {
        width: 70%;
    }
}

.price_div_left {
    position: absolute;
    top: 0;
    right: 0;
}

.price_div_right {
    position: absolute;
    top: 0;
    right: 35px;
}

.qty_selector_input {
    margin: 8px auto 0 auto;
    width: 2ch;
}