div.section_container { /* Over rides the styling in styles.css */
    background-color: var(--grey);
    margin: 0.5rem auto;
    overflow: hidden; 
}

.card-header {
    padding: 0;
    margin-bottom: 0.5rem;
}

.pointer {
    cursor: pointer;
}

#header_container_drinks {
    background-image: url(../images/menu_heading_coffee.jpg);
    height: 50px;
}

#header_container_snacks {
    background-image: url(../images/menu_heading_snacks.jpg);
    height: 50px;
}

hr {
    margin: 0.5rem auto;
    width: 75%; 
}

.row_container {
    min-height: 60px;
    width: 50%;

    overflow: hidden;
    position: relative;
}
@media (max-width: 768px) {
    .row_container{
        width: 70%;
    }
}
@media (max-width: 576px) {
    .row_container{
        width: 95%;
    }
}

.row_container, .container.row_container { /* Over rides Bootstrap styling */
    margin: 0 auto 0.5rem auto; /*The bottom margin puts space between the product rows */
}

.heading_row_container {
    margin: 0 auto;
}

h1.yellow_text {
    font-size: 30px;
    line-height: 50px;
    margin: 0;
}
@media (max-width: 576px) {
    h1.yellow_text{
        font-size: 30px;
    }
}

h2.yellow_text, h3.yellow_text {
    color: var(--yellow);
}

h2.yellow_text, h3.yellow_text {
    margin: 0.5rem 0 0 0;
}

p.white_text {
    color: var(--white);
}

/* Over-riding bootstrap styling on collapse/expand */
div.card-body.row_container, #order_section #time_container {
    padding: 0;
}


#fairtrade_logo, #rainforest_logo {
    width: 40px; /* Used to centre the logo in the div. Done by eye...*/
}

#rainforest_logo {
    margin-top: 5px;
    width: 40px;
}

/* Positioning of the cup sizes and icons */
#cup_icon_div_6oz, #cup_icon_div_8oz {
    height: 50px;
    width: 23px;
    overflow: hidden;
    position: relative; /* Used with cup_size_text to position text at bottom of the div */
}

#cup_icon_div_6oz {
    right: 8px; /* Aligns the cup icon and text with the relative pricing column. Done by eye so not ideal */
}
#cup_icon_div_8oz {
    right: 2px; /* Aligns the cup icon and text with the relative pricing column. Done by eye so not ideal */
}

h4.cup_size_text { /* Used with cup_icon_div_#oz to position text at bottom of the div */
    margin: 2px 0 0 2px;
    position: absolute; 
    bottom: 0;
    font-size: 12px;
    color: var(--white);
}

#cup_icon_image_6oz {
   margin-top: 8px; /* Used to align cup icons along bottom. DOne by eye so not ideal */
}
#cup_icon_image_8oz {
   margin-top: 3px; /* Used to align cup icons along bottom. DOne by eye so not ideal */
}


.div-center { /* Aligns input beneath their respective prices */
    text-align: center;
}



h3.price {
    font-size: 12px;
    margin-bottom: 2px;
}



.product_name, .product_description {
    margin: 0;
}

.product_description {
    width: 80%;
    line-height: 1.25;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .product_description {
        width: 75%;
    }
}
@media (max-width: 576px) {
    .product_description {
        width: 70%;
    }
}

.price_div_left {
    position: absolute;
    top: 0;
    right: 0;
}

.price_div_right {
    position: absolute;
    top: 0;
    right: 35px;
}

.qty_selector_input {
    margin: 8px auto 0 auto;
    width: 2ch;

}

#order_section .row_container {
    min-height: 1px;
}

#order_section h2 {
    font-size: 22px;
}

div>h5, #order_section p {
    color: var(--white);
    margin-bottom: 0;
}

#order_section .col{
    padding: 0;
}

div>h5 {
    font-weight: bold;
    font-size: 14px;
}

#order_details_row p {
    font-size: 16px;
}

.order_col_trash {
    text-align: right;
}

#order_details_totals p {
    font-weight: bold;
}

.row.justify-content-md-center {
    background-color: var(--white);
    width: 100%;
    margin: 0;
}

.time_col { /*------- Brick Buttons */
    background-color: var(--white);
    border: 0.5px solid var(--yellow);
    white-space: nowrap;
    text-align: center;
}

#order_section .btn {
    background-color: var(--yellow);
    width: 100px;
    margin-top: 0.5rem;
}

.order_button.row_container {
    text-align: center;
}