html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    font-size: 1.6rem;
}

.contact-container {
    display: flex;
    width: 100%;
    border-top: rgb(242, 177, 10) solid 3px;
    border-bottom: rgb(242, 177, 10) solid 3px;
}


/*Form*/


.form-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
}

.contact-form {
    background-color: rgb(52, 52, 52);
}

.form-header {
    color:rgb(242, 177, 10);
    text-align: center;
}

.form-element {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


/*Location*/


.location-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
}